body {
    color: #333333;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.w_faq p.text-info{
    margin-top:32px;
    font-weight: bold;
}
.w_mt8{
    margin-top: 12px;
}
.navbar .navbar-brand {
    color: #777777;
    font-family:"Courier New", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hero-unit {
    background: url(../img/chrome-bg.jpg) center center no-repeat;
    background-size:cover;
}
.notice_hero {
    font-size:14px;
}
textarea {
    width:450px;
    font-size:12px;
    font-family:"Courier New", Courier, monospace;
}
.jumbotron {
    background: none repeat scroll 0 0 #d4d4d4;
    padding: 30px 0 6px;
    margin-bottom:16px;
}
.jumbotron .hero-content {
    text-align: center;
}
.jumbotron h1 {
    letter-spacing: -2px;
    line-height: 1;
    font-family:"Courier New", Courier, monospace;
}
.jumbotron p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 15px;
}
#iconCarousel {
    font-size: 120px;
    line-height: 125px;
    text-align: center;
}
.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.carousel-control {
    background: none repeat scroll 0 0 #222222;
    border-radius: 23px 23px 23px 23px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
}
#iconCarousel .carousel-control {
    border-width: 3px;
    font-size: 17px;
    height: 23px;
    left: 117px;
    line-height: 25px;
    top: 195px;
    width: 23px;
}
#iconCarousel .carousel-control.right {
    left: auto;
    right: 117px;
}
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle !important;
    border-top: 1px solid #dddddd;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: middle;
}
.form-horizontal .control-label {
    padding: 5px 15px 5px 0;
    text-align: left;
    font-weight:bold;
}
.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 120px;
    *margin-left: 0;
    line-height:28px;
}
.form-horizontal .controls:first-child {
    *padding-left: 120px;
}
.form-horizontal .help-block {
    margin-bottom: 0;
}
.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block {
    margin-top: 9px;
}
.form-horizontal .form-actions {
    padding-left: 120px;
}
.form-horizontal .control-group {
    margin-bottom: 8px;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.how p {
    margin-top: 22px;
}
.how p {
    line-height:160%;
}
.back2top {
    margin-right:10px;
    position:fixed;
    right:50px;
    bottom:110px;
    display:none;
}
.one_progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.one_progress .one_bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.progress .bar + .bar {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.ranking {
    font-size:44px;
    height:80px;
    background:#0088cc;
    line-height:80px;
    text-align:center;
    font-weight:bold;
    color:#FFF;
}
.ranking_img{
    float:left;
    margin-right:8px;
    width:80px;
    height:80px;
}
.ranking_email{
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
    line-height:32px;
}

table.tablesorter thead tr .header {
    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width: 30px;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url('../img/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
    background-image: url('../img/desc.gif');
}